@import "tailwindcss";
@config "../tailwind.config.js";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: 'Geist Variable', sans-serif;
    --height-buttons: var(--height-buttons);

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent-hover: var(--accent-hover);
    --color-accent-gradient: var(--accent-gradient);
    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);
    --color-draft: var(--draft);
    --color-draft-foreground: var(--draft-foreground);
    --color-paused: var(--paused);
    --color-paused-foreground: var(--paused-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-input-placeholder: var(--input-placeholder);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-expense: var(--expense);
    --color-income: var(--income);

    --color-sidebar: var(--sidebar);
    --color-sidebar-background: var(--sidebar-background);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --shadow-card: 0 10px 25px rgba(0, 0, 0, 0.08);
    --shadow-brand: 0 10px 25px rgba(0, 0, 0, 0.80);

    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
    --height-buttons: 40px;
    --background: hsl(220 15.8% 96.3%);
    --foreground: hsl(217 16% 15.9%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(217 16% 15.9%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(210 11.1% 3.53%);
    --primary: hsl(217 16% 15.9%);
    --primary-foreground: hsl(0 0% 98%);
    --secondary: hsl(0 0% 98%);
    --secondary-foreground: hsl(217 16% 15.9%);
    --muted: hsl(0 0% 98%);
    --muted-foreground: hsl(219 15.8% 35.9%);
    --accent: hsl(200 100% 32.2%);
    --accent-foreground: hsl(0 0% 98%);
    --accent-hover: hsl(200 100% 52.2%);
    --accent-gradient: hsl(200 100% 82%);
    --success: hsl(137 74.8% 45.1%);
    --success-foreground: hsl(0 0% 98%);
    --draft: hsl(220 16.1% 56.1%);
    --draft-foreground: hsl(0 0% 98%);
    --paused: hsl(48 95.8% 53.1%);
    --paused-foreground: hsl(0 0% 98%);
    --destructive: hsl(0 60% 45.1%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(224 15.5% 86.1%);
    --input: hsl(240 20% 99%);
    --input-placeholder: hsl(220 1.5% 38.6%);
    --input-blocked: hsl(220 1.5% 38.6% / 0.5);
    --ring: hsl(200 100% 32.2%);
    --radius: 6px;
    --chart-1: hsl(142 88% 28%);
    --chart-2: hsl(347 77% 50%);
    --chart-3: hsl(240 1% 58%);
    --chart-4: hsl(240 2% 26%);
    --chart-5: hsl(240 2% 26%);
    --expense: hsl(0 100% 27%);
    --income: hsl(120 100% 17%);
    --sidebar: hsl(0 0% 98%);
    --sidebar-background: hsl(0 0% 98%);
    --sidebar-foreground: hsl(219 15.8% 35.9%);
    --sidebar-primary: hsl(0 0% 9%);
    --sidebar-primary-foreground: hsl(217 16% 15.9%);
    --sidebar-accent: hsl(200 100% 32.2%);
    --sidebar-accent-foreground: hsl(0 0% 98%);
    --sidebar-border: hsl(224 15.5% 86.1%);
    --sidebar-ring: hsl(200 100% 32.2%);
}

.dark {
    --height-buttons: 40px;
    --background: hsl(0 0% 6%);
    --foreground: hsl(0 0% 94%);
    --card: hsl(0 0% 11.4%);
    --card-foreground: hsl(0 0% 98%);
    --popover: hsl(200 11.1% 3.53%);
    --popover-foreground: hsl(0 0% 98%);
    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(0 0% 9%);
    --secondary: hsl(0 0% 14.9%);
    --secondary-foreground: hsl(0 0% 98%);
    --muted: hsl(0 0% 14.9%);
    --muted-foreground: hsl(0 0% 52.16%);
    --accent: hsl(219 100% 58%);
    --accent-foreground: hsl(0 0% 98%);
    --accent-gradient: hsl(200 100% 82%);
    --success: hsl(137 74.8% 45.1%);
    --success-foreground: hsl(0 0% 98%);
    --draft: hsl(220 16.1% 56.1%);
    --draft-foreground: hsl(0 0% 98%);
    --paused: hsl(48 95.8% 53.1%);
    --paused-foreground: hsl(0 0% 98%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(0 0% 20%);
    --input: hsl(0 0% 14.9%);
    --input-placeholder: hsl(220 1.5% 38.6%);
    --ring: hsl(200 100% 32.2%);
    --chart-1: hsl(137 52% 42%);
    --chart-2: hsl(4 77% 55%);
    --chart-3: hsl(240 1% 58%);
    --chart-4: hsl(240 1% 42%);
    --chart-5: hsl(240 2% 26%);
    --expense: hsl(0 100% 80%);
    --income: hsl(120 100% 82%);
    --sidebar: hsl(0 0% 11.4%);
    --sidebar-background: hsl(0 0% 11.4%);
    --sidebar-foreground: hsl(228 5% 69%);
    --sidebar-primary: hsl(138 73% 39%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(0 0% 9%);
    --sidebar-accent-foreground: hsl(0 0% 100%);
    --sidebar-border: hsl(0 0% 20.4%);
    --sidebar-ring: hsl(217 91% 60%);
    --radius: 6px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-income {
    color: var(--income);
  }
  .text-expense {
    color: var(--expense);
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}